$orange: #faae3f;
$gray: #353535;
$spinner-duration: 1.2s;
$spinner-color: #ffffff;

/* var */

@import './style/reset.css';
@import './components/loader/pulse.css';
body {
    // margin: 0 auto;
    // background: #d7d7d7;
    // width: 370px;
    // margin: 0;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

html {
    font-size: 14px;
}

.App {
    text-align: center;
}

.h_header__container {}

.h_header {
    background-color: #353535;
    height: 50px;
    box-sizing: border-box;
    color: white;
    z-index: 20;
    position: relative;
    &__logo {
        display: inline-block;
        height: 50px;
        padding: 5px;
        float: left;
        margin: 0 10px;
        box-sizing: border-box;
        img {
            height: 40px;
        }
    }
    &__burger {
        float: right;
        height: 50px;
        width: 50px;
        cursor: pointer;
        vertical-align: middle;
        &.active {
            background: #252525;
        }
        button {
            outline: none;
            border: none;
            padding: 0 10px;
            color: #fff;
            font-size: 2rem;
            height: 50px;
            background: transparent;
            &.i__burger {
                background: url(./image/sprite.svg) no-repeat;
                background-position: -165px -6px;
                background-size: 400px auto;
                font-size: 1.6rem;
                width: 100%;
            }
            &.i__close {
                background: url(./image/sprite.svg) no-repeat;
                background-position: -211px -5px;
                background-size: 400px auto;
                font-size: 1.6rem;
                width: 100%;
            }
        }
    }
    &__play {
        float: right;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        &.active {
            background: $gray;
        }
        button {
            outline: none;
            border: none;
            padding: 0 10px;
            color: #fff;
            font-size: 2rem;
            height: 50px;
            background: transparent;
            &.i__play {
                background: url(./image/sprite.svg) no-repeat;
                background-position: -115px -6px;
                background-size: 400px auto;
                font-size: 1.6rem;
                width: 100%;
            }
        }
    }
}

.r_menu {
    z-index: 5;
    position: absolute;
    display: block;
    top: -500px;
    width: 100%;
    background: #252525;
    color: #fff;
    transition: top .3s ease-out;
    text-align: left;
    padding-bottom: 0;
    &.active {
        top: 50px;
    }
}

.n_item {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #bcbcbc;
    display: table;
    width: 100%;
    padding: 10px;
    &__image {
        width: 35%;
        padding-right: 1rem;
        display: table-cell;
        vertical-align: top;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        line-height: 1.5;
        vertical-align: top;
    }
    &__created {
        display: none;
        font-size: .6rem;
        clear: both;
    }
}

.n_list {
    background: #fff;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

.n_article {
    text-align: left;
    background: #fff;
    position: relative;
    padding: 0 10px;
    font-size: 1.3rem;
    line-height: 1.3;
    h1 {
        padding: 1rem 0 0;
        margin: 0;
        line-height: 1.3;
        font-weight: bold;
        font-size: 1.7rem;
    }
    &__desc {
        font-weight: bold;
        line-height: 1.3;
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    p {
        margin: 0 0 1.5rem;
        line-height: 1.5;
    }
    iframe {
        width: 100%;
        min-height: 255px;
    }
    &__content {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__data {
        width: 100%;
        display: table;
        font-size: 1rem;
        overflow: hidden;
        color: #777777;
        &--create {
            display: table-cell;
            vertical-align: top;
        }
        &--view {
            display: table-cell;
            box-sizing: border-box;
            padding-left: 30px;
            width: 20%;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            vertical-align: top;
            &:before {
                content: " ";
                width: 20px;
                position: absolute;
                left: 0;
                top:0;
                height: 20px;
                display: block;
                background: url(./image/sprite.svg) no-repeat;
                    background-position: -138px -67px;
                background-size: 400px auto;
            }
        }
    }
    .n_list__block {
        margin: 0 -10px;
    }
    &__tags {
        color: #555555;
        font-size: 1.3rem;
        &--name {
            display: inline-block;
            margin-right: 1rem;
        }
        &--list {
            display: inline;
            li {
                display: inline-block;
                margin: 5px 1rem 5px 0;
                padding: 5px 8px;
                border-radius: 5px;
                background: #dddddd;
                background: 
            }
        }
    }
    &__image {
        margin: 10px -10px;
        &--alt {
           font-size: 1rem; 
           color: #777777;
           padding: 0 10px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.r_main_front {
    display: none;
    overflow: hidden;
    position: relative;
    &.load {
        display: block;
    }
    &__image {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__title {
        position: absolute;
        bottom: 0;
        display: block;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.8) 100%);
        width: 100%;
        color: #fff;
        padding: 30px 10px 15px;
        font-size: 1.2rem;
        line-height: 1.5;
        box-sizing: border-box;
        text-align: left;
        font-weight: bold;
    }
}

.r_search {
    position: relative;
    z-index: -1;
    top: 0px;
    height: 0;
    padding: 10px;
    box-sizing: border-box;
    left: 0;
    visibility: hidden;
    width: 100%;
    padding-bottom: 1rem;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    transition: height .25s ease-out;
    pointer-events: none;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    &.active {
        height: 100%;
        z-index: 20;
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
}

.r_search__box {
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    display: block;
    span {
        position: absolute;
        right: 0;
        top: 0;
        color: #000;
        padding: 10px;
        font-size: 1.3rem;
    }
    .r_search__input {
        width: 100%;
        color: #fff;
        position: relative;
        padding: 10px 50px 10px 10px;
        border: none;
        font-size: 1.1rem;
        background: #353535;
        margin-bottom: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid #555555;
        outline: none;
        &:focus {
            border: 1px solid #f1662a;
        }
    }
}

.n_item__short {
    text-align: left;
    display: block;
    margin: 0px 0px;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #6d6d6d;
    span {
        color: $orange;
        font-style: italic;
        margin: 0 0px;
        font-size: .7rem;
        display: block;
    }
}

.n_list__main {
    &--2 {
        .n_item {
            font-weight: bold;
        }
    }
    .n_item {
        font-weight: bold;
        &.el3,
        &.el4,
        &.el5,
        &.el6 {
            font-weight: normal;
            .n_item__image {
                display: none;
            }
        }
        &.el7,
        &.el8 {
            display: none;
        }
    }
}

.n_list__table {
    display: table;
    margin: 0px 0 0;
    padding: 0 0px;
    .n_item {
        &--cell {
            font-weight: bold;
            display: table-cell;
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
        }
        &:nth-child(2n) {
            border-left: 1px solid #bcbcbc;
        }
        &__image {
            padding: 0;
            display: block;
            width: 100%;
        }
    }
}

.n_main--wrap {
    padding: 10px 0 0;
    text-align: left;
    background: #fff;
}

.n_list__block {
    h2 {
        margin: 0 10px;
        padding: 0;
        text-align: left;
        border-bottom: 2px solid $orange;
        span {
            background: $orange;
            padding: 0 10px;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            height: 28px;
            display: inline-block;
            line-height: 30px;
            font-size: 16px;
        }
    }
}

.n_button {
    padding: 10px;
    &--input {
        border: 1px solid #bcbcbc;
        background: #fff;
        display: block;
        outline: none;
        text-align: center;
        padding: 7px;
        font-size: 1.2rem;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        margin: 0px;
        box-sizing: border-box;
    }
}

.n__menu {
    padding: 10px 0;
    border-bottom: 1px solid #353535;
    li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        a {
            margin: 0 10px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 0;
            display: block;
            position: relative;
            padding-left: 27px;
            font-size: 1.2rem;
            border-bottom: 1px solid #353535;
            &.n_item--9,
            &.n_item--10 {
                border-bottom: none;
            }
            &.n_item--3:before {
                background-position: -21px -50px;
            }
            &.n_item--2:before {
                background-position: -68px -15px;
            }
            &.n_item--4:before {
                background-position: -68px -50px;
            }
            &.n_item--5:before {
                background-position: -21px -86px;
            }
            &.n_item--6:before {
                background-position: -68px -86px;
            }
            &.n_item--7:before {
                background-position: -21px -124px;
            }
            &.n_item--8:before {
                background-position: -68px -125px;
            }
            &.n_item--9:before {
                background-position: -68px -123px;
            }
            &.n_item--10:before {
                background-position: -21px -157px;
            }
            &:before {
                content: " ";
                height: 25px;
                width: 25px;
                background-size: 400px auto;
                background-position: -21px -15px;
                position: absolute;
                left: 0;
                top: 6px;
                background: url(./image/sprite.svg) no-repeat;
            }
        }
    }
}

.n_footer {
    background: #252525;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
    display: block;
    position: relative;
    &__menu {
        padding: 10px 0;
        border-bottom: 1px solid #353535;
    }
    &__social {
        margin: 0 0 10px;
        padding: 10px 5px 0;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        li {
            display: inline-block;
            margin: 0 5px;
            a {
                display: block;
                width: 34px;
                height: 34px;
                background: url(./image/sprite.svg) no-repeat;
                background-position: -24px -208px;
                background-size: 400px auto;
                &.n_footer__social--fb {
                    background-position: -68px -208px;
                }
                &.n_footer__social--tw {
                    background-position: -112px -208px;
                }
                &.n_footer__social--yb {
                    background-position: -156px -208px;
                }
                &.n_footer__social--ins {
                    background-position: -200px -208px;
                }
                &.n_footer__social--ok {
                    background-position: -245px -208px;
                }
                &.n_footer__social--gp {
                    background-position: -288px -208px;
                }
            }
        }
    }
    &__godescktop a {
        display: block;
        padding: 15px 10px;
        text-decoration: none;
        color: #bbbbbb;
        padding-left: 40px;
        position: relative;
        border-top: 1px solid #353535;
        border-bottom: 1px solid #353535;
        &:before {
            position: absolute;
            top: 11px;
            left: 10px;
            display: block;
            width: 20px;
            height: 20px;
            background: url(./image/sprite.svg) no-repeat;
            background-position: -181px -66px;
            background-size: 400px auto;
            content: "";
        }
    }
    &__copy {
        padding: 15px 10px;
        color: #bbbbbb;
        span,
        div,
        a {
            display: inline-block;
        }
        div {
            margin: 0 10px;
        }
        a {
            color: #bbbbbb;
        }
    }
}

.n_article iframe.ren-player {
    margin: 0 -10px;
    display: none;
    width: 100vw;
}
.n_social {
    button {
            display: inline-block;
            width: 42px;
            cursor: pointer;
            margin-right: 10px;
            height: 42px;
            text-indent: -99999999999px;
            border: none;
            outline: none;
            background: url(./image/sprite.svg) no-repeat;
            background-position: -111px -147px;
            background-size: 400px auto;
            content: "";
            text-indent: -99999999999px;
            padding: 0;
            &.n_social--fb {
                 background-position: -161px -147px;
            }
            &.n_social--tw {
                 background-position: -211px -147px;
            }
            &.n_social--mail {
                 background-position: -261px -147px;
            }
    }
}
@import './style/footer.css';
